.container {
    display: flex;
    width: 800px;
    height: 100vh;
    background-color: #bbb;
    flex-wrap: wrap;
    flex-direction: column;

}

.container div {
    width: 40%;
    height: 40px;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    



}